html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  background-color: #ffffff;
  font-family: $main-font;
  font-size: 14px;
  color: $title-light-background-color;
  letter-spacing: 0.03em;
}

h1 {
  margin: 0;
}

img {
  display: block;
}
