$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$text-dark-background-color: #ffffff;
$text-light-background-color: #757575;
$title-dark-background-color: #ffffff;
$title-light-background-color: #212121;
$accent-color: #2196f3;
